/*
!/.gitignore

!/.bashrc.d/
/.bashrc.d/*
!/.bashrc.d/dotfiles-ps1.sh
!/.bashrc.d/dotfiles.sh

!/.profile.d/
/.profile.d/*
!/.profile.d/dotfiles.sh

!/.ssh/
/.ssh/*
!/.ssh/config

!/.config/
/.config/*

!/.config/user-dirs.dirs

!/.config/ghostty/
/.config/ghostty/*
!/.config/ghostty/config.ghostty

!/.config/sublime-text/
/.config/sublime-text/*
!/.config/sublime-text/Packages/
/.config/sublime-text/Packages/*
!/.config/sublime-text/Packages/User/
/.config/sublime-text/Packages/User/*
!/.config/sublime-text/Packages/User/Preferences.sublime-settings

!/.m2/
/.m2/*
!/.m2/settings.xml
