/*
!/.gitignore

!/.ssh/
/.ssh/*
!/.ssh/config

!/.bashrc.d/
/.bashrc.d/*
!/.bashrc.d/dotfiles-ps1.sh
!/.bashrc.d/dotfiles.sh

!/.profile.d/
/.profile.d/*
!/.profile.d/dotfiles.sh

!/.config/
/.config/*

!/.config/user-dirs.dirs

!/.config/ghostty/
/.config/ghostty/*
!/.config/ghostty/config.ghostty

!/.config/git/
/.config/git/*
!/.config/git/ignore

!/.config/sublime-text/
/.config/sublime-text/*
!/.config/sublime-text/Packages/
/.config/sublime-text/Packages/*
!/.config/sublime-text/Packages/User/
/.config/sublime-text/Packages/User/*
!/.config/sublime-text/Packages/User/Preferences.sublime-settings
!/.config/sublime-text/Packages/User/Default (Linux).sublime-keymap

!/.config/MangoHud/
/.config/MangoHud/*
!/.config/MangoHud/MangoHud.conf

!/.config/mpv/
/.config/mpv/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf

# !/.config/vlc/
# /.config/vlc/*
# !/.config/vlc/vlcrc

# !/.config/GIMP/
# /.config/GIMP/*
# !/.config/GIMP/3.2/
# /.config/GIMP/3.2/*
# !/.config/GIMP/3.2/gimprc

!/.m2/
/.m2/*
!/.m2/settings.xml

!/www/
/www/*
!/www/nextcloud/
/www/nextcloud/*
!/www/nextcloud/.gitignore
!/www/nextcloud/configure.sh
!/www/nextcloud/docker-compose.yaml.template
!/www/nextcloud/nextcloud.nginx.conf.template

