[Unit]
Description=Turn on speakers at system startup
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/speakerctl on
ExecStop=/usr/local/bin/speakerctl off
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
