[Unit]
Description=Turn off speakers at system shutdown
Before=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/speakerctl off
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
